<!DOCTYPE html>
 <html> 
     <head> 
         <meta charset="UTF-8"> 
         <title>OUR TEAM</title>
          <link rel="stylesheet" href="css/about.css" type="text/css"> 
    </head>
 <body>
  <section class="sec1"> 
    <div class="text"> <h1>About Us</h1> </div> 
    <div class="picture"> <img src="images/face2.jpg" class="first" alt="face" style="width:220px;height:220px"> 
    <img src="images/face1.JPG" class="second" alt="face" style="width:220px;height:220px"> 
    <img src="images/face3.jpg" class="third" alt="face" style="width:220px;height:220px"> </div> 
    <div class="under"> 
        <h3>Our Team</h3>
    </div> 
    <div class="par"> 
        <p>this page is created by the yogendra shastri , dhairya sheel rastogi and abhishek kumar so that
            every student can easily find the topics related to their subjects and can easily find notes.
            and one can know about their seniors and can contact when ever they needed.
            this site is designed by dhairya and abhishek ( the front end developers ) And remaining backend 
            login system is designed by Yogendra shastri.
        </p> 
    </div> 
</section> 
</body> 
</html> 