<!DOCTYPE html>
<html>
<head>
	<title>PYTHON</title>
    <link rel="stylesheet" type="text/css" href="./css/python.css">
</head>
<body>
	<h1 style="padding-left: 100px">Beginner Tutorial For Python </h1>
	<table>
		<iframe width="345" height="340" src="https://www.youtube.com/embed/watch?v=RAwntanK4wQ&list=PLwgFb6VsUj_lQTpQKDtLXKXElQychT_2j">
</iframe>
<iframe width="345" height="340" src="https://www.youtube.com/embed/watch?v=0_lUKurdt88&list=PLwgFb6VsUj_lQTpQKDtLXKXElQychT_2j&index=2">
</iframe>
<iframe width="345" height="340" src="https://www.youtube.com/embed/watch?v=O7Kh5JTnd9k&list=PLwgFb6VsUj_lQTpQKDtLXKXElQychT_2j&index=3">
</iframe>
<iframe width="345" height="340" src="https://www.youtube.com/embed/watch?v=dJFNtIXPSPk&list=PLwgFb6VsUj_lQTpQKDtLXKXElQychT_2j&index=4">
</iframe>
	</table>
	<h1>History of Python</h1>
<p>Python was developed by Guido van Rossum in the late eighties and early nineties at the National Research Institute for Mathematics and Computer Science in the Netherlands.<br>

Python is derived from many other languages, including ABC, Modula-3, C, C++, Algol-68, SmallTalk, and Unix shell and other scripting languages.<br>

Python is copyrighted. Like Perl, Python source code is now available under the GNU General Public License (GPL).<br>

Python is now maintained by a core development team at the institute, although Guido van Rossum still holds a vital role in directing its progress.</p>
	<h1>PYTHON</h1><hr/>
	<p>Python is an interpreted and a cross-compiled programming language. It is actually a Scripting Language rather than a Programming Language. A Scripting language is basically used in combination with HTML code usually for a Website Development. Python code is comparatively very less than that of Java, C or C++. Python is one of the few languages which supports Procedural Programming features and Object Oriented Programming in a single program.</p>
	<h2>Applications of Python</h2>
	<ol>
		<ul>1. Web Application Development and Web Frameworks such as DJango and Pyramid.</ul>
        <ul>    2. Game Development</ul>
        <ul>     3. Desktop Based Applications</ul>
        <ul>     4. Micro Frameworks such as Bottle and Flask</ul>
         
     </ol>
		<p>Python is a Free and an Open-Source Language. It is one of the most demanded languages all over the world as of now and has a huge career scope. So, you better learn it with us.

		Python is available in Windows Operating Systems, Linux Versions such as Ubuntu, OpenSuse, etc. Python can also be worked upon in Mac OS.</p>
	<h1>	Python Features</h1>
<p>Python's features include −
	<ol>
		<ul>Easy-to-learn − Python has few keywords, simple structure, and a clearly defined syntax. This allows the student to pick up the language quickly.</ul>

		<ul>Easy-to-read − Python code is more clearly defined and visible to the eyes.</ul>

		<ul>Easy-to-maintain − Python's source code is fairly easy-to-maintain.</ul>

		<ul>A broad standard library − Python's bulk of the library is very portable and cross-platform compatible on UNIX, Windows, and Macintosh.</ul>

		<ul>Interactive Mode − Python has support for an interactive mode which allows interactive testing and debugging of snippets of code.</ul>

		<ul>Portable − Python can run on a wide variety of hardware platforms and has the same interface on all platforms.</ul>

		<ul>Extendable − You can add low-level modules to the Python interpreter. These modules enable programmers to add to or customize their tools to be more efficient.</ul>

		<ul>Databases − Python provides interfaces to all major commercial databases.</ul>

		<ul>GUI Programming − Python supports GUI applications that can be created and ported to many system calls, libraries and windows systems, such as Windows MFC, Macintosh, and the X Window system of Unix.</ul>

		<ul>Scalable − Python provides a better structure and support for large programs than shell scripting.</ul>

       <strong> Apart from the above-mentioned features, Python has a big list of good features, few are listed below −</strong>

		<ul>It supports functional and structured programming methods as well as OOP.</ul>

		<ul>It can be used as a scripting language or can be compiled to byte-code for building large applications.</ul>

		<ul>It provides very high-level dynamic data types and supports dynamic type checking.</ul>

		<ul>It supports automatic garbage collection.</ul>

		<ul>It can be easily integrated with C, C++, COM, ActiveX, CORBA, and Java.</ul>
	</ol>	

		<h1>Python Function</h1>
<p>In this tutorial you will learn about Python function.<br>

Functions are a great way to support programs that consists of many lines of code. They go off and perform a task and then return control to your program.<br>

Creating your own functions offers you many advantages and features. It allows you to break up your code into manageable and small chunks. Some python programs that are long series of instructions with no logical breaks are hard to maintain understand and write. Functions, if included in a program can help the programmers to easily develop it and maintain it properly.<br>

Python provides built-in functions such as print(), range(), len() and many more. However, if you need to develop your own functions, it is quite possible to create it in Python like in other programming environments, also known as user-defined functions.</p>

 



 
	


</body>
</html>
